@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #121212;
}

tr{
  border: 1px solid #2c2c2c;
}
.header{
 color: white;
}
.main{
  color: #eaeaea;
  width: 50%;
  margin: auto;
}
.footer{
  border-top:1px solid #2c2c2c;
  color: #fffdf8;
   background-color: #121212;
}
table, .sort{
  background-color: #1e1e1e;
}
.actionbtn{
  background-color: #1e1e1e ;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom:10px;
}
.form{
  background-color:#1e1e1e ;
}